<div class="card-body">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <label>Regions</label>
        <select class="form-control" (change)="onSelected($event.target.value)" *ngIf="regions$ | async as regions">
          <option value="0">- Display All -</option>
          <option *ngFor="let region of regions" [value]="region.name">{{
            region.name
          }}</option>
        </select>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-6" *ngIf="countries$| async as countries">
        <label>Countries</label>
        <select class="form-control" (change)="onSelectedCountry($event.target.value)">
          <option value="0">- Display All -</option>
          <option *ngFor="let country of countries" [value]="country.name">{{
            country?.name
          }}</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-between"  *ngIf="countryDetails">
      <app-country-details  [countryDetails]="countryDetails"></app-country-details>
    </div>
  </div>
</div>
