<div class="card-body">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-4">
        <label>Regions</label>
        <select class="form-control" (change)="onSelected($event.target.value)">
          <option value="0">- Display All -</option>
          <option *ngFor="let region of regions" [value]="region.name">{{
            region.name
          }}</option>
        </select>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-4">
        <label>Countries</label>
        <select class="form-control" (change)="onSelected($event.target.value)">
          <option value="0">- Display All -</option>
          <option *ngFor="let country of countries$" [value]="country.name">{{
            country?.name
          }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
